@font-face {
    font-family: "DINBek";
    src: url("../fonts/DINBek.ttf");
}
body {
    width: 100%;
    height: 100%;
    font-family: "DINBek";
    color: #5C5C5C;
    background-color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
h1 {
    margin: 0 0 35px;
    font-family: "DINBek";
    font-weight: 700;
    letter-spacing: 1px;
}
h2 {
    margin: 0 0 25px;
    font-family: "DINBek";
    font-weight: 700;
    letter-spacing: 1px;
}
h3 {
    margin: 0 0 20px;
    font-family: "DINBek";
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0 0 25px;
    font-size: 12pt;
    line-height: 1.5;
}
@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 12pt;
        line-height: 1.6;
    }
}
a {
    color: #FFF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #FFF;
}
.icon {
    margin-right: 15px;
    padding-bottom: 6px;
}
.intro-video {
    margin: 0 auto;
    padding: .8em;
    font-size: 12pt;
    color: #fff;
    background: transparent;
    border-color: white;
    width: 13em;
    border-style: solid;
    border-width: 3px;
}
.video-label {
    line-height: 15px;
    padding-right: 8px;
}
.nostyle {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 30pt;
    font-size: 14pt;
}
.social-media li {
    padding: 8px;
    display: inline;
}
.navbar-container {
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-family: "DINBek";
    background-color: transparent;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
    padding: 12px !important;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    font-weight: bold;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: #84C8D9;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}
.navbar-custom .nav li.active a:hover {
    color: #fff;
}
#signed-up {
    padding-top: 10px;
}
#signed-up p {
    font-size: 16pt;
}
.intro-video {
    cursor: pointer;
}
.video-modal-content {
    background: transparent;
}
.large-profile-pic {
    padding: 7px;
    margin-bottom: 25px;
    width: 325px;
    height: 325px;
}
.profile-modal-header {
    text-align: center;
}
.profile-modal-body {
    padding: 20px 25px;
}
.social-media-profile {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    padding-top: 10px;
}
@media(max-width:940px) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        margin-right: 3em;
    }
    .intro .intro-body .intro-text {
        font-size: 14pt !important;
    }
    .navbar-custom {
        padding: 15px 0 0 0;
        border-bottom: 0;
        letter-spacing: 1px;
    }
    h1 {
        font-size: 24pt !important;
    }
    .contact-section {
        text-align: center;
    }
    .join-augur-beta-button-2 {
        font-size: 12pt;
        color: #5C5C5C;
        background: transparent;
        border-color: #5C5C5C;
        width: 13em;
        border-style: solid;
        border-width: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .join-augur-beta-button-2 a {
        font-size: 10pt;
    }
    .join-link {
        color: #5C5C5C !important;
    }
    .social-media {
        margin-top: 25px;
    }
}
@media (max-width: 940px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
@media(min-width:940px) {
    .navbar-custom {
        padding: 2em 10em;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        background: rgba(41, 19, 68, .75);
    }
    .navbar-custom.top-nav-collapse {
        padding: 1em 10em;
        background: #291344;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
    }
    .navbar-custom .nav li a {
        font-weight: normal;
    }
    .join-augur-beta-button-2 {
        font-size: 12pt;
        color: #5C5C5C;
        background: transparent;
        border-color: #5C5C5C;
        width: 13em;
        border-style: solid;
        border-width: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .join-augur-beta-button-2 a {
        margin-left: 40px;
        font-size: 10pt;
    }
    .join-link {
        color: #5C5C5C !important;
    }
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #291344;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 50px;
}
.intro .intro-body .intro-text {
    font-size: 22px;
}
@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.contact-section {
    background-color: rgba(255, 255, 255, .2);
}
.contact-section a {
    color: #5C5C5C;
    font-size: 13pt;
}
.info-section {
    width: 100%;
    /*    height: 65em;
*/
    
    padding: 50px 0;
    color: #fff;
    background-color: #2a1445;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    margin-top: 1em;
}
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: "DINBek";
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.team-email a {
    color: #5bc0de;
}
.btn-default {
    border: 1px solid #898989;
    color: #898989;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #898989;
    outline: 0;
    color: #000;
    background-color: #898989;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}
.btn-submit {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: transparent;
    font-size: 1.5em;
    padding: 10px 20px 10px 20px;
    margin-bottom: 25px;
}
.btn-submit:hover,
.btn-submit:focus {
    background-color: #FFF;
    color: #000;
}
#name,
#email,
#github,
#linkedin,
#message {
    text-align: center;
    margin-bottom: 15px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
#github,
#linkedin {
    margin-bottom: 25px;
}
.slack_icon {
    width: 49px;
    margin-top: 2em;
    margin-bottom: .5em;
}
.join_beta {
    margin: 0 auto;
    padding: .8em;
    font-size: 12pt;
    color: #fff;
    background: transparent;
    border-color: white;
    width: 13em;
    border-style: solid;
    border-width: 3px;
}
.action_buttons {
    display: inline-flex;
}
#message {
    height: 80px;
    margin-bottom: 25px;
}
@media (min-width: 768px) {
    .container {
        padding-top: 150px;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-top: 75px;
    }
}
#canary-img {
    width: 46px;
}
.dismiss {
    font-weight: bold;
    color: #5C5C5C;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-color: transparent;
    border: none;
}
#spiders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
#main_banner {
    text-align: center;
}
#get_rewarded {
    margin-top: 5em;
}
#predict_reward {
    margin-top: 3em;
    margin-bottom: 3em;
}
.predict {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#predict_report_icons {
    margin-top: 2em;
    margin-bottom: 3em;
}
.hr_break {
    width: 50%;
    margin-bottom: 3em;
    margin-top: 3em;
}
#info_text {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
#info_icon {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 10%;
}
.info_bottom {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.info_top {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#trademark {
    color: #5C5C5C;
    margin-top: 7em;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

#team_head{
    margin-top: 3em;
    margin-bottom: 2em;
}

#team_picture{
    margin-top: 1em;
    margin-bottom: 2em;
    width: 50%;
    border-radius: 1em;
}

#team_picture_two{
    width: 35%;
    border-radius: 1em;
     margin-top: 1em;
    margin-bottom: 2em;
}

#employee_rows{
    padding: 0 10em;
}

#only_two{
    padding: 10em 10em 0 10em;
    margin-top: -10em;
}

.modal-footer{
    display: none;
}

.modal-body{
    padding: 19px;
}

.modal-content{
    margin-top: 24.5em;
}