@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_regular_pro.otf')  format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_regular_italic_pro.otf')  format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_medium_pro.otf')  format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_medium_italic_pro.otf')  format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_bold_pro.otf')  format('opentype');
  // src: url('https://fonts.augur.net/apercu-bold-pro.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../../fonts/apercu_bold_italic_pro.otf')  format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../../fonts/apercu_mono_pro.otf')  format('opentype');
  font-weight: 400;
  font-style: normal;
}